<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('set_check', id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
            <tbody>
                {% for check in checks %}
                <tr>
                    <td>{{check.id|default('', true)}}</td>
                    <td>{{check.status_code|default('', true)}}</td>
                    <td>{{check.h1|default('', true)}}</td>
                    <td>{{check.title|default('', true)}}</td>
                    <td>{{check.description|default('', true)}}</td>
                    <td>{{check.created_at|default('', true)}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>


